/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(120deg, #e0f7fa, #f1f8e9);
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background: #FF0000; /* Red header */
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main Content */
main {
    flex: 1;
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Image Styling */
.bio-img {
    display: block;
    max-width: 100%;
    img-align: centre;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Paragraph Styling */
.content p {
   font-family: Times New Roman;
    font-size: 22px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffff00;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
}

/* Footer */
footer {
    background: #FF0000;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
